default: &default
  adapter: mysql2
  encoding: utf8
  pool: 16
  username: username
  password: password
  variables:
    sql_mode: TRADITIONAL

development:
  <<: *default
  database: db_name

test:
  <<: *default
  database: test_db_name
  reconnect: true
  strict: false

production:
  <<: *default
  url: <%= ENV['DATABASE_URL'] %>
